html, body {
  height:100%;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin:0;
  font-family: sans-serif;
}

.overlay {
  width:100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  flex-direction: column;
}

.overlay__top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  display: flex;
  padding: 20px;
  color: rgba(255, 255, 255, 0.5)
}

.overlay__left {
  flex: 1 0 auto;
  text-align: left;
}

.overlay__right {
  flex: 1 1 auto;
  text-align: right;
}

.overlay--time {
  font-size: 200px;
  font-weight: 400;
  margin: 0;
}

.overlay--greeting {
  font-size: 80px;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size:100px;
}
